/* GENERALI -------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color: white;
}
ul{
  list-style-type: none;
}
h4{
  margin-top: 10px;
}
h2,h4{
  color: white;
  font-weight: bold;
}
h2,h5{
  padding: 5px 20px;
}
h5{
  color: grey;
}
/* HEADER-------------------------------------------*/
header{
  position: fixed;
  top: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 55;
}
#nav-upgrade{
  margin-right: 5%;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 12px;
  z-index: 55;
}
/* MAIN -----------------------------------*/
main{
  height: calc(100vh - 80px);
  background-color: #141922;
  width: 100%;
  display: flex;
}
/* side-menu ----------------------------------------*/
.side-menu{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 16px;
  width: 200px;
  height: calc(100% - 80px);
  background-color: black;

  color: white;
  font-size: 12px;
}

#logo{
  width: 150px;
  height: auto;
  margin-left: 15px;
  z-index: 12;
}
#logo-1, #logo-2, #logo-3{
  display: none;
}
.first-ul-side{
  margin-top: 16px;
}
.second-ul-side{
  height: 100px;
  width: 170px;
  overflow-y: scroll;
}

.loghi-side{
  width: 30px;
  height: auto;
  margin-right: 5px;
}
#logo-crea{
  background-color: grey;
  color: black;
  padding: 5px 10px;
  margin-right: 15px;
}
/* install-e-profile-----*/
.install-e-profile{
  width: 92%;
  margin: 0 auto;
  height: 80px;
  color: white;
}
.contenitore-side{
  background-color: black;
}


.download{
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.download-link{
  color: grey;
}
.installa{
  color: white;
}
#download-icon{
  width: 18px;
  height: auto;
  margin-right: 15px;
}
.profilo{
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid grey;
}
#profile-icon{
  width: 15px;
  height: auto;
  background-color: grey;
  border-radius: 12px;
  margin-right: 15px;
}


/* generic ----------------------*/
.link-side{
  color: grey;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 15px;
}
.link-side:hover{
  border-left: 1px solid lime;
  padding-left: 14px;
  color: white;
}
/* main section ----------------------------------------*/
.main-section-destra{
  padding-top: 100px;
  width: calc(100% - 200px);
  height: 100%;
  background-color: #141922;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
/* layover--------------*/
.layover-container{
  position: relative;
  display: flex;
  z-index: 0;
}

.layover-i{
  font-size: 35px;
  color: white;
  margin-top: calc(50% - 17px);
}

.layover{
 display: none;
 position: absolute;
 top: 0;
 left: 0;
 background-color: rgba(0,0,0,0.5);
 z-index: 1;
 width: 100%;
 height: 100%;
}

.layover-container:hover .layover{
 display: block;
}


.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.menu li{
  padding-left: 12px;
}
 .a-menu:hover{
  border-bottom: 1px solid lime;

}
.album-riga-1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 0;
}
.album-riga-2{
 display: flex;
 padding: 15px 0;
}
.album-riga-3{
 display: flex;
 padding: 15px 0;
}
.album{
  text-align: center;
  flex-shrink: 0;
}
 .album-3{
  padding: 5px 18px;
}
.album-img{
  width: 150px;
  height: auto;
  z-index: 0;
}
.round{
  border-radius: 100%;
}
/* FOOTER -------------------------------*/
footer{
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: #282828;
  width: 100%;
  z-index: 122;
  display: flex;
  justify-content: space-between;
}
i{
  padding: 0 15px;
}
.player{
  display: flex;
  align-items: center;
}
.player-controls{
  text-align: center;
}
.icone-controlli{
  padding: 22px 0 10px 25px;

}
.icone-controlli ul{
  display: flex;
}
#player-album-img{
  width: 35px;
  height: auto;
}
.player-audio{
  display: flex;
  align-items: center;
}
.player-audio ul{
  display: flex;
}
.barra-audio{
  width: 80px;
  background-color: grey;
  height: 4px;
}
.barra-audio-interna{
  width: 15px;
  background-color: lime;
  height: 4px;
}
.barra-tempo{
  width: 280px;
  background-color: grey;
  height: 4px;
}
.barra-tempo-interna{
  width: 15px;
  background-color: lime;
  height: 4px;
}
.player-txt{
  margin-left: 5px;
  color: white;
}
.player{
  margin-left: 20px;
}
 .player-audio{
   margin-right: 20px;
 }
/* MEDIA QUERY ---------------------------------------------*/
@media screen and (max-width: 320px){
  .album-img{
    width: 100px;
    height: auto;
  }
  .album-2, .album-3{
    padding: 5px 16px;
    margin-left: 6px;
  }
  .first-ul-side{
    margin-top: 65px;
  }
  .player-audio{
    margin-left: -16px;
  }
  .h4-s5{
    max-width: 100px;
  }
  .main-section-destra{
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) and (max-width: 400px){
  .album-2, .album-3{
    padding: 5px;
    margin-left: 1px;
  }
  .first-ul-side{
    margin-top: 65px;
  }
}
@media screen and (max-width: 700px){
  .link-side{
    display: none;
  }
  #logo-1, #logo-2, #logo-3{
    display: block;
    padding: 5px 0 5px 5px;
  }
  .side-menu{
    width: 35px;
  }
  .first-ul-side{
    margin-top: 65px;
  }
  .main-section-destra{
    width: calc(100% - 35px);
  }
  #download-icon{
    margin-left: 5px;
  }
  #profile-icon{
    margin-left: 7px;
  }
  .download, .profilo{
    text-align: center;
  }
  .second-ul-side{
    overflow: hidden;
  }

  .nome, .installa, .secon-ul-side{
    display: none;
  }
  #logo{
    display: none;
  }
  .player-controls{
    margin-right: 15px;
  }
  .barra-tempo{
    width: 100px;
  }
  i{
    padding: 0 5px;
  }
  .icone-controlli {
    padding: 16px 0 18px 0px;
    font-size: 15px;
  }
  .barra-tempo{
    margin-left: 9px;
  }
  footer{
    font-size: 10px;
  }
  .player{
    margin-left: 0px;
  }
  .album-cover{
    margin-left: 4px;
  }
  .player-audio{
    margin-right: 5px;
  }
  .barra-audio{
    width: 38px;
  }
}
